@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


body    {
    width: 100%;
    height: 100vh;
    background-color:var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-family: "space mono";
}

*   {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root   {
--background: #C5E4E7;
--darkgreen:#00474B ;
--lightgreen:#26C2AE ;
--text: #547878;
--hover: #9FE8DF;
}

.main   {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px 25px 0px 0px;
    padding: 32px;
}

.logo   {
    width: 86.66px;
    height: 53.14px;
    margin-top: 50px;
    margin-bottom: 40px;
}
#billinput  {
    background-image: url("./images/icon-dollar.svg") ;
}
.billinput  {
    
    background-repeat: no-repeat;
    width: 100%;
    text-align: end;
    display: flex;
    border-radius: 5px;
    background-color: var(--background);
    border: none;
    padding:6px 18px;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 6px;
    height: 48px;
    background-position: left 5% center;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
}
 #amount:hover  {
    border: 2px solid #26C2AE;
}
 

.buttons    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 16px;
    row-gap: 16px;
    margin-top: 16px;
    margin-bottom: 38px;
}

#people {
    background-image: url("./images/icon-person.svg") ;
    background-repeat: no-repeat;
    text-align: end;
    background-repeat: no-repeat;
    width: 100%;
    text-align: end;
    display: flex;
    border-radius: 5px;
    background-color: var(--background);
    border: none;
    padding:6px 18px;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 6px;
    height: 48px;
    background-position: left 5% center;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #00474B;
    
}

.button {
    width: 146px;
    height: 48px;
    background-color: var(--darkgreen);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.button.active    {
    background-color: var(--lightgreen);
}

.button:hover{
    background-color: var(--hover);
    cursor: pointer;
    color: var(--darkgreen);
}

.totals {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--darkgreen);
    border-radius: 15px;
    padding: 39px 22px 24px 24px;
}

.totalamount,
.tipamount   {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text   {
    width: 100%;
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.reset  {
    background-color: var(--lightgreen);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 9px 32px;
    height: 48px;
    font-size: 20px;
    line-height: 30px;
    color: var(--darkgreen);
    font-weight: 700;
}

.reset:hover {
    background-color: var(--hover);
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.people
, .bill
, .tippercent
 {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
    text-transform: capitalize;
}

.totalamount    {
    margin-top: 25px;
    margin-bottom: 35px;
}

.custom {
    text-align: center;
    background-color: #F3F9FA;
    color: var(--darkgreen);
}

.custom:hover   {
    border: 2px solid #26C2AE;
    background-color: var(--background)
}

.prs    {
    font-size: 13px;
    line-height: 19px;
    color: var(--text);

}

.total,
.total-amount {
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    color: var(--hover)
}



.error  {
    display: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #E17457;
}

.error-div    {
    display: flex;
    justify-content: space-between;
  }